
@model IEnumerable<CourseHome>
@{
    ViewData["Title"] = "Home Page";
    
  


}

<style>
body {
  background-image: url('https://images3.alphacoders.com/836/thumb-1920-836705.jpg');
  background-size: cover;
  
}
  .label{
      text-align:center;
      item-align:center;
      margin-top:265px;
      
      color:white;
  }
  h1{
font-size:75px;
  }
</style>

<div class="label" >
    <h1 >Welcome to NASAcademy!</h1>
</div>

    



